# Ice configuration
Ice.Default.Locator=IcePack/Locator:default -h bamboo.acfr.usyd.edu.au -p 12000
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:default -p 10000 
Ice.Warn.Connections=1
Ice.Trace.Network=1
Ice.Trace.Protocol=0
Ice.PrintAdapterReady=1


#
# The IceBox server endpoint configuration
# All services will share one communicator to allow take advantage of collocation
# (see UseSharedCommunicator option)
#
IceBox.ServiceManager.Endpoints=tcp -p 9998
# Load IceStorm first, all others will be loaded afterwards
IceBox.LoadOrder=IceStorm


#
# The Example service
#
IceBox.Service.Example=OrcaIceBoxExample:create
IceBox.UseSharedCommunicator.Example=1
# pseudo-component
Example.PlatformName=coffee
Example.ComponentName=pioneer2os
Example.Endpoints=tcp -p 22000
# ports
Example.Ports.Position2d.PortName=platform2d


#
# The IceStorm service
#
IceBox.Service.IceStorm=IceStormService,21:create
# --Ice.Config=icestorm.cfg
IceBox.UseSharedCommunicator.IceStormService=1

# This property defines the endpoints on which the IceStorm TopicManager listens.
IceStorm.TopicManager.Endpoints=default -p 10000
#: default -h coffee.acfr.usyd.edu.au -p 10000

# This property defines the endpoints on which the topic publisher objects listen.
IceStorm.Publish.Endpoints=default
#: default -h coffee.acfr.usyd.edu.au
IceStorm.Trace.TopicManager=1
IceStorm.Trace.Topic=1
IceStorm.Trace.Subscriber=1
IceStorm.Trace.Flush=0
IceStorm.Flush.Timeout = 2000

#
# This property defines the home directory of the Freeze
# database environment for the IceStorm service.
#
Freeze.DbEnv.IceStorm.DbHome=stormdb
