# ice configuration
Ice.Trace.Network=0
Ice.Warn.Connections=0
Ice.PrintAdapterReady=1

# component
LaserFeatureExtractor.Platform=local
LaserFeatureExtractor.Component=laserfeatureextractor
LaserFeatureExtractor.Endpoints=default

# provides
LaserFeatureExtractor.Provides.PolarFeatures2d.Interface=polarfeatures2d

# requires
LaserFeatureExtractor.Requires.Laser.Platform=hemp
LaserFeatureExtractor.Requires.Laser.Component=sicklaser
LaserFeatureExtractor.Requires.Laser.Interface=laser

# component configuration
LaserFeatureExtractor.Config.AlgorithmType=extractorOne
LaserFeatureExtractor.Config.BackgroundRangeGate=80.0 
LaserFeatureExtractor.Config.TargetRangeGate=0.5 
LaserFeatureExtractor.Config.MinReturnNumber=1 
LaserFeatureExtractor.Config.MinBrightness=1 
LaserFeatureExtractor.Config.ExtractReflectors=0
LaserFeatureExtractor.Config.ExtractForegroundPoints=1
LaserFeatureExtractor.Config.ExtractCorners=0
LaserFeatureExtractor.Config.ExtractDoors=0
LaserFeatureExtractor.Config.MinForegroundWidth=0.1
LaserFeatureExtractor.Config.MaxForegroundWidth=0.5
LaserFeatureExtractor.Config.MinForegroundBackgroundSeparation=1.0
