# ice configuration
#Ice.Default.Locator=IcePack/Locator: default -h bamboo.acfr.usyd.edu.au -p 12000
#IceStorm.TopicManager.Proxy=IceStorm/TopicManager:default -p 10000 
Ice.Trace.Network=0
Ice.Warn.Connections=0
Ice.PrintAdapterReady=1

# component
LaserMon.PlatformName=local
LaserMon.ComponentName=lasermon
LaserMon.Endpoints=default

# ports
LaserMon.Ports.Laser.PlatformName=mango
LaserMon.Ports.Laser.ComponentName=sicklaser
LaserMon.Ports.Laser.PortName=laser

