# Ice configuration
Ice.Warn.Connections=0
Ice.Trace.Network=0
Ice.Trace.Protocol=0
Ice.PrintAdapterReady=1

# component
SegwayRmp.Platform=local
SegwayRmp.Component=segwayrmp
SegwayRmp.Endpoints=default

# interfaces
SegwayRmp.Provides.Platform2d.Interface=platform2d
SegwayRmp.Provides.Power.Interface=power

# configuration
SegwayRmp.Config.Driver=usb
SegwayRmp.Config.MaxSpeed=5.0
SegwayRmp.Config.MaxTurnrate=360.0
SegwayRmp.Config.position2dPublishInterval=1.0
SegwayRmp.Config.powerPublishInterval=20.0
